* /*<--seleciona todos os objetos do site*/{
    margin: 0;/*retira margin de todos os elementos*/
    padding: 0;/*retira padding de todos os elementos*/
    box-sizing: border-box;/*serve para facilitar o layout das dimensoes dos objetos*/
    text-decoration: none;/*retira decorações do texto */
}
.container {
    /*linear gradient faz uma "sombra" na imagem que vai de 
    uma cor preta mais opaca para uma mais trasparente,que ficara na url/img que selecionei*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),url(./img/bodybuilder-4k-full-hd-wallpaper-preview.jpg) ;
    /*faz com que a imagem não repita*/
    background-repeat: no-repeat;
    /*faz com que a imagem fica na tela toda da primeira pagina*/
    background-size: cover;
    /*centralizei a imagem de fundo no centro senao ela fica bugada*/
    background-position: center;
    /*defini a altura da tela total por isso o vh*/
    height: 100vh;
    overflow-x: hidden;/*não deixa rolar para os lados além do limite que quero*/
    overflow-y: hidden;/*não deixa rolar para baixo além do limite que quero*/
    
}
.navegador {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.logo {
    align-items: center;
    display: flex;
    cursor: pointer; /*faz com que apareça uma maozinha apontando no lugar que voce quer*/  
}
.logo img {
    height: 2.1em;
    margin-right: 15px;

}
.logo h1 {
    font-size: 20px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.nav ul {
    font-family: monospace;
    font-size: 15px;

}
.nav ul li{
    list-style-type: none;/*tira as bolinhas da lista*/
    margin-left: 20px;
    font-weight: 5px;
    text-transform: uppercase;/*trasnforma o texto para caixa alta mesmo tendo escrito em caixa baixa*/
    transition: 0.14s;/*transição de 0,10s*/
    cursor: pointer;
    border:1px solid transparent;/*se tirar isso a bordar da bug,testa ai: parte1 */
    
}
.nav ul li:hover{
    
    color: rgb(219, 35, 35);
    border-bottom: 1px solid rgb(219, 35, 35);/*faz um risquinho debaixo do link,fica massa: parte2*/
}
.opcoes {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.opcoes1{
    height: 30px;
    border-radius: 20px;
    margin-right: 5px;
    padding: 5px;
}
.opcoes1:hover{
    height: 30px;
    background-color: rgba(255, 255, 255, 0.089);
    border-radius: 20px;
    padding: 5px;

}
.opcoes2{
    height: 30px;
    border-radius: 20px;
    margin-left: 5px;
    padding: 5px;
}
.opcoes2:hover{
    height: 30px;
    background-color: rgba(243, 243, 243, 0.11);
    border-radius: 20px;
    padding: 5px;
}
.section {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;/*defini que quero o elemento em coluna e não um do lado do olho em linha*/
}
.section h1 {
    font-family:Arial, Helvetica, sans-serif;
    padding-top:15%;
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.ver_planos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.botao{
    
    color: white;
    font-size: 15px;/*tamanho letra*/
    font-weight: 10px;/*grossura da letra*/
    font-family:monospace;
    background-color: rgb(236, 11, 11);
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    padding: 10px 30px;
    cursor: pointer;
}
.planos {
    display: none;
    background-color: rgba(22, 21, 21, 0.425);
    padding: 20px;
    border-radius: 20px;
    border-color: red;
    
}
.planos h1{
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: monospace
    
    
}
.ver_planos button:hover + .planos {
    display: block;
}
.pagina2{
    height: 80vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.texto_pagina_2 {
    margin: 140px;
}
.texto_pagina_2 h1{
    color: rgba(0, 0, 0, 0.904);
    font-family: monospace;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;


}
.texto_pagina_2 h3 {
    color: rgba(27, 27, 27, 0.877);
    font-size: 30px;
    font-weight: 300;
}
.texto_pagina_2 p {
    color: rgba(48, 48, 48, 0.719);
    line-height: 25px;/*faz dar um espaçameto de 25px entra as linhas*/
}
.pagina2 img{
    height: 50vh;
    margin: 10%;
    border-radius: 5px;
    border: 2px solid red;

}
.texto_pagina_2 button{
    margin-top: 20px;
    cursor: pointer;
}


